<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curiosity</title>
</head>

<body>
    <main>
        <div class="row">
            <!-- Sign in buttons -->
            <div class="nav">
                <div class="buttons col 12 right">
                    <div>
                        <a href="./login.html" id="signBtn" class="btn btn-small waves-effect waves-purple">Login</a>
                        <a href="./signup.html" id="logBtn" class="btn btn-small waves-effect waves-purple">Sign-up</a>
                    </div>
                </div>
                <!--  Space picture and search bar -->
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="./images/port1.jpg">
                            <div class="caption center-align">
                                <h3>Curiosity</h3>
                                <h5 class="light grey-text text-lighten-3">Are you curious?</h5>
                                <div input-field>
                                    <input class="sBar" type="text" ng-model="dummyInputs.inputFieldInput" length="150" placeholder="Search">
                                </div>
                                
                                <a href="#!" class="btn waves-effect waves-purple center">Send</a>
                                <div class="row adLink">
                                <a href="./advanced.html" class="white-text ">Advanced Search</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  Nav bar that comes in when you go down -->
        <nav id="content" class="pin-top fadein">
            <div class="nav-wrapper">
                <ul id="nav-mobile">
                    <li>
                      <a href="./reports.html">Reports</a>
                    </li>
                    <li>
                      <a href="./signup.html">Subscribe</a>
                    </li>
                    <li>
                      <a href="./about.html">About Us</a>
                    </li>
                    <li>
                      <input class="right" type="text" ng-model="dummyInputs.inputFieldInput" length="150" placeholder="Search"> 
                    </li>
                    <li>
                      <a href="#!" class="btn waves-effect waves-purple">Send</a>
                    </li>
                    <div class="buttons col 12 right">
                        <a href="./login.html" id="logNavBtn" class="btn btn-small waves-effect waves-purple">Login</a>
                        <a href="./signup.html" id="signNavBtn" class="btn btn-small waves-effect waves-purple">Sign-up</a>
                    </div>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <div class="container">
          <!-- Icons -->
            <div class="row ">
                <div class="col s4 ">
                    <div class="center">
                        <i class=" large material-icons ">all_inclusive</i>
                        <h2 class="icon ">Tools</h2>
                    </div>
                    <hr>
                </div>
                <div class="col s4 ">
                    <div class="center">
                        <i class=" large material-icons ">account_circle</i>
                        <h2 class="icon ">Profiles</h2>
                    </div>
                    <hr>
                </div>
                <div class="col s4 ">
                    <div class="center">
                        <i class=" large material-icons ">help</i>
                        <h2 class="icon ">Expand</h2>
                    </div>
                    <hr>
                </div>
            </div>
          <!-- Descriptions  -->
            <div class="row">
                <div class="col s4 ">
                    <p class="right">Premium subscribers get tons of new tools to further enhance their Curiosity results!</p>
                </div>
                <div class="col s4 ">
                    <p class="right">Subscribers can create profiles that store their previous searches.</p>
                </div>
                <div class="col s4 ">
                    <p class="right">Learn more about how you can expand your Curiosity with a premium subscriber profile!</p>
                </div>
            </div>
          <!-- Cards with pictures -->
            <div class="row">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="./images/report.jpg">
                            <span class="card-title">Reports</span>
                        </div>
                        <div class="card-content">
                            <p>See detailed reports.</p>
                        </div>
                        <div class="card-action">
                            <a href="./reports.html">Click Here!</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="./images/port2.jpg">
                            <span class="card-title">Advanced Search</span>
                        </div>
                        <div class="card-content">
                            <p>Find exactly what you need.</p>
                        </div>
                        <div class="card-action">
                            <a href="./advanced.html">Click Here!</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="./images/aboutus.jpg">
                            <span class="card-title">About Us!</span>
                        </div>
                        <div class="card-content">
                            <p>Learn more about the team.</p>
                        </div>
                        <div class="card-action">
                            <a href="./about.html">Click Here!</a>
                        </div>
                    </div>
                </div>
            </div>
          
      </div><!-- End of container -->
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text showNav">Curiosity</h5>
                    <p class="grey-text text-lighten-4">Search anything you are curious about!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">More</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="./signup.html">Become a Subscriber</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="./reports.html">Reports</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="./advanced.html">Advanced Search</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="./about.html">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright
                <a class="right social" href="http://facebook.com"><img src="icons/Facebook.png" alt="GitHub Icon">
                </a>
                <a class="right social" href="http://youtube.com"><img src="icons/YouTube.png" alt="GitHub Icon">
                </a>
                <a class="right social" href="http://github.com"><img src="icons/github.png" alt="GitHub Icon">
                </a>

                <a class="right social" href="http://twitter.com"><img src="icons/Twitter.png" alt="GitHub Icon">
                </a>

                <a class="right social" href="http://Instagram.com"><img src="icons/Instagram.png" alt="GitHub Icon">
                </a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/port.js"></script>
</body>
</html>