html, body, .block {
    height: 100%;
  }

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
.popin {
	position: fixed;
	text-align: center;
	color: white;
	margin-left: 10%;
	border: none;
}

.parallax-container {
      height: 500px;
    }

   h2 {
   	text-align: center;
   	
   }

   p {
   	font-size: 1.2em
   }

   .indicators, .slider {
    background: #004080;
   }

   .indicators {
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   }
   .slider .indicators .indicator-item {
    height: 0;
   }

input[type=text]:not(.browser-default) {
    font-size: 1.5em;
    color: white;
  
    width: 80%
   }
   .search {
    position: relative;

    border:solid;
    border-radius: 2em;
    /*margin-top: 5%;*/
    margin:5% 20% 30% 20%;
   }
   .btn, .btn-small {
    background-color: #FDAB20;
   }
   .btn:hover,  .btn:link, .btn:visited, .btn-small:hover,  .btn:link, .btn:visited {
    background: #FDAB20;
   }
   .page-footer {
    background: #004080;
   }
   .page-footer .footer-copyright {
    background: #192256;
    color: #FDAB20;
   }
   .page-footer .footer-copyright a {
   
    color: #FDAB20;
   }
.buttons #signBtn, .buttons #logBtn, a #signBtn, a #logBtn {
  z-index: 1000;
  margin-top: 10px;
  margin-right: 10px;

}
.pin-bottom {
    position: relative;
  }
.pin-top {
    position: relative;
  }

nav {
  background-color: #004080;
  opacity: .95;
  position: absolute;
}

.btn #signNavBtn, .btn #logNavBtn {
  z-index: 1000;
  margin-right: 0;
}
.icon {
  margin-top: 5%;
}

.social img {
  width: 75px;
  padding-right: 10px;

}

.box {
  margin-top:20px;
  padding: 3em;
  padding-top: 2em;
  border-radius: 2em;
  border: solid #004080 .4em;
  height: 20em;
  width: 40em;
}
.check {
  margin-left: 5px !important;
}
#nomargin {
  margin-bottom: 0;
}
 .parallax-container {
      height: 50em;
    }
.advancedrow {
  margin-bottom: 0;
  z-index: 1;
}

.row #advancedBtn {
  margin-right: 6.3em;
}

.row .adLink {
 
  margin-top: 1em !important;
}
